<h3>
	Populate Crew from Asset list
</h3>

<div>
	<%= form_for([@retrofit_job, @new_crew], method: :post) do |f| %>
	<%= f.label "Asset Name" %>
	<%= f.select(:asset_id, @assets.all.collect {|a| [a.lname, a.id]}) %>
	<%= f.submit "add to crew" %>
	<% end %>
</div>