
<h3>
	Landing Page, after Auth
</h3>

<div>
	<ul>
		<li>
			Edit Inventories
		</li>
		<li>
			CRUD
			<ul>
				<li>
					Itinerary
				</li>
				<li>
					Hotel
				</li>
				<li>
					Car
				</li>
				<li>
					Flights/Trains
				</li>
			</ul>
		</li>
		<li>
			Validations
			<ul>
				<li>
					RetrofitJob
				</li>
				<li>
					Address
				</li>
				<li>
					Contact
				</li>
				<li>
					Crew
				</li>
				<li>
					Asset
				</li>
				<li>
					Inventory
				</li>
				<li>
					Unit
				</li>
				<li>
					Task
				</li>
			</ul>
		</li>
		<li>
			CSS
			<ul>
				<li>
					dropdown Nav
				</li>
				<li>
					home#index
				</li>
				<li>
					retrofit_job#index
				</li>
				<li>
					assets#index
				</li>
				<li>
					asset#show
				</li>
				<li>
					units#index
				</li>
				<li>
					unit#show
				</li>
			</ul>
		</li>
		<li>
			small media
			<ul>
				<li>

				</li>
			</ul>
		</li>
		<li>
			Remove Site
		</li>
		<li>
			Devise
		</li>
	</ul>
</div>

