
<h3>
	Landing Page, after Auth
</h3>

<div>
	<ul>
		<li>
			CRUD
			<ul>
				<li>
					Itinerary
				</li>
				<li>
					Hotel
				</li>
				<li>
					Car
				</li>
			</ul>
		</li>
		<li>
			Validations
			<ul>
				<li>
					Itinerary
				</li>
				<li>
					Hotel
				</li>
				<li>
					Car
				</li>
			</ul>
		</li>
		<li>
			CSS
			<ul>
				<li>
					dropdown Nav
				</li>
				<li>
					home#index
				</li>
				<li>
					retrofit_job#index
				</li>
				<li>
					assets#index
				</li>
				<li>
					asset#show
				</li>
				<li>
					units#index
				</li>
				<li>
					unit#show
				</li>
			</ul>
		</li>
		<li>
			small media
			<ul>
				<li>

				</li>
			</ul>
		</li>
		<li>
			Sites - Remove
		</li>
		<li>
			Devise
			<ul>
				<li>
					Registration
				</li>
				<li>
					<%= link_to "Require Admin", "https://github.com/plataformatec/devise/wiki/How-To%3a-Require-admin-to-activate-account-before-sign_in", target: "blank" %>
				</li>
				<li>
					<%= link_to "example require admin", "https://github.com/RailsApps/rails-devise-roles/", target: "blank" %>
				</li>
			</ul>
		</li>
	</ul>
</div>

