<h3>
	Resources
</h3>

<div class="left-column">
	<div class="contact-card">
		<p>
			Design
		</p>
		<p>
			test contact info
		</p>
	</div>

	<div class="contact-card">
		<p>
			Coordinator
		</p>
		<p>
			test contact info
		</p>
	</div>

	<div class="contact-card">
		<p>
			TrueBlue
		</p>
		<p>
			test contact info
		</p>
	</div>

	<div class="contact-card">
		<p>
			Facilities Coordinator
		</p>
		<p>
			test contact info
		</p>
	</div>
</div>

<div class="right-column">
	<div class="helpful-links">
		<h4>
			Helpful Links
		</h4>
		<p>
			<%= link_to "Google Maps of Stores", "https://mapsengine.google.com/map/viewer?mid=zMQYuLLON3zo.kAvkqKUuv7RE", target: "blank" %>
		</p>
	</div>

	<div class="helpful-links">
		<h4>
			Travel
		</h4>
		<p>
			<%= link_to "Another link", "#" %>
		</p>
		<p>
			<%= link_to "Another link", "#" %>
		</p>
	</div>
</div>

<div class="page-bottom">
	<div class="email-forms">
		<h4>
			IC Store Needs
		</h4>
		<p>
			<strong>LP Coverage:</strong><br>
			We will arrive approximately 1 hour before store closing, check in with LP, and work for up to 8 hours after the store is clear of customers.  There will be 10 -15 of us per night, some lighting professionals, some temporary workers from TrueBlue.  While customers are present, we will be in the back of house prepping equipment, at the dock dealing with trash, and walking the sales floor to determine a game plan.  While we rarely need to leave the store after closing, we cannot be 'locked in' for any stretch of time.
		</p> 
		<p>
			<strong>Power:</strong><br>
			We will need the entire track system energized for the duration of each work night.  If there is someone onsite competent with the override system, we are happy to communicate areas that can be temporarily de-energized to conserve power.  Please walk the store prior to our visit to ensure that all sales floor tracks are functioning.
		</p>
		<p>
			<strong>Inventory:</strong><br>
			The trackheads are scheduled to deliver no later than 7 days prior to install.  It is recommended that Building Services confirm the quantities received on the day they arrive.  Although rare, there have been discrepancies between orders, shipments and arrivals.  You can email me directly with the quantities, or check with Keli.Stosich@nordstrom.com.
		</p>
		<p>
			<strong>Storage:</strong><br>
			We realize that space is at a premium, especially this time of year, but the units need to be kept onsite between delivery and installation.  For the nights of the install, please designate a back of house work area, where we can prep before store closing and return our carts to at the end of the night.
		</p>
		<p>
			<strong>Equipment:</strong><br>
			We would like access to the following:
			<ul>
				<li>
					all 8ft fiberglass ladders.
				</li>
				<li>
					(4) 8ft tables
				</li>
				<li>
					(2) Large Canvas Hampers
				</li>
				<li>
					(5) Carts, Large Dollies, etc.
				</li>
				<li>
					(6) E-contaniners
				</li>
				<li>
					(6) Plastic Pallets
				</li>
				<li>
					(1) Pallet Jack.
				</li>
			</ul>
		</p> 
		<p>
			<strong>Fixture Placement:</strong><br>
			Visual will verify placement of merchandise fixtures, to ensure that we install an inventory in line with the store's needs.
		</p>
		<p>
			<strong>Recycling:</strong><br>
			We will process the old units for recycling and pack them into E-containers.  Please confirm where you would like us to leave the E-containers (if other than the dock or our work area).  We will take care of all garbage and cardboard as long as we have access to -- and there is room in -- the dumpster and baler.
		</p>
		<p>
			<strong>Training:</strong><br>
			There won't be a formal training, as per years past, but we are happy to schedule a time to walk staff through the new system.
		</p>
		<p>
			<strong>Miscellaneous:</strong><br>
			Please feel free to forward this to any other division heads, managers, etc.  Invisible Circus has completed hundreds of Nordstrom lighting projects and is well versed in store protocol.  We are also happy to accommodate any special requests to the best of our abilities.
		</p> 
		<p>
			Thank you for taking the time to support our needs for this project.  I realize this is a lot of information, so please contact me directly with questions or concerns.
		</p>
	</div>

	<div class="email-forms">
		<h4>
			Another Form
		</h4>
	</div>


</div>