<h3>
	Resources
</h3>

<div class="left-column">
	<div class="contact-card">
		<p>
			Design
		</p>
		<p>
			test contact info
		</p>
	</div>

	<div class="contact-card">
		<p>
			Coordinator
		</p>
		<p>
			test contact info
		</p>
	</div>

	<div class="contact-card">
		<p>
			TrueBlue
		</p>
		<p>
			test contact info
		</p>
	</div>

	<div class="contact-card">
		<p>
			Facilities Coordinator
		</p>
		<p>
			test contact info
		</p>
	</div>
</div>

<div class="right-column">
	<div class="helpful-links">
		<h4>
			Helpful Links
		</h4>
		<p>
			<%= link_to "Google Maps of Stores", "https://mapsengine.google.com/map/viewer?mid=zMQYuLLON3zo.kAvkqKUuv7RE", target: "blank" %>
		</p>
	</div>

	<div class="helpful-links">
		<h4>
			Travel
		</h4>
		<p>
			<%= link_to "Another link", "#" %>
		</p>
		<p>
			<%= link_to "Another link", "#" %>
		</p>
	</div>
</div>