<h3>
	Show page for Units
</h3>

<div>
	
</div>

@unit.img 
@unit.url 
@unit.type_of 
@unit.order_identifier 
@unit.vendor 
@unit.mfg 
@unit.product_identifier 
@unit.nickname 
@unit.finish 
@unit.description 
@unit.notes 
@unit.product_type