/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	position: relative;
    min-height: 100%;
}

body {
	font-family: Lucida Grande;
}

body ul {
	list-style: none;
}

.wrapper {
	margin: 2px 2px 75px 2px;
	max-width: 1200px;
}

h1 {
	font-size: 40px;
}

/* Main Navigation */
nav {
	background-color: rgb(255, 231, 250);
	position: relative;
	z-index: 9999;
	position: fixed;
	margin: 2px;
	right: 0;
	top: 0;
	width: 135px;
}

nav > ul {
	margin-left: -25px;
}

nav > ul > li {
	color: black;
}

nav > ul > li > a {
	text-decoration: none;
}

nav> ul > li:hover > ul { 
	display:block; 
}

nav > ul > li > ul { 
	display:none;
	margin-left: -40px;
}
nav > ul > li > ul > li {
	z-index: 9999;
	padding: 2px;
}
nav > ul > li > ul > li > a {
	text-decoration: none;
}

/* Validation Messages */
.validation-messages {
	background-color: rgb(255, 216, 173);
}


/* index list */
.index-list {
	margin: 10px 0 0 0;
}


/* Divs for retrofit store catogories. */

.to-the-left {
	width: 46%;
	float: left;
}

.to-the-right {
	width: 46%;
	float: left;
	display: inline;
	margin-left: 3%;
}

.store-box {
	background-color: rgb(210, 237, 236);
	padding: 10px 10px 30px 10px;
	margin: 0px 0px 10px 0px;
}

.store-box h4 {
	font-size: 22px;
}

.store-box.with-button h4 {
	width: inherit;
	clear: none;
	display: inline;
	float: left;
}

.store-box p {
	clear: both;
}

.store-box ul {
	margin-left: -20px;
	clear: both;
}

.store-box ul li {
	list-style: none;
}

.store-box ul li p {
	background-color: white;
	padding: 5px;
	width: inherit;
}

.contact-box {
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 40px 10px;
	background-color: rgb(194, 197, 197);
	border-radius: 10px;
	box-shadow: 5px 7px 2px #888888;
}

/* Tasks, to do list boxes */

.to-do-list {
	background-color: rgb(202, 202, 202);
}

.to-do-list .incomplete {
	color: red;
}

.to-do-list .pending {
	color: rgb(108, 124, 33);
}

.to-do-list .complete {
	color: rgb(0, 192, 0);
}

.to-do-list ul ul {
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 40px 10px;
	background-color: rgb(250, 255, 207);
	border-radius: 10px;
	box-shadow: 5px 7px 2px #888888;
}


/* Inventory boxes */

.inventories-list {
	background-color: rgb(250, 255, 207);
}

.inventories-list ul ul {
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 40px 10px;
	background-color: rgb(205, 191, 157);
	border-radius: 10px;
	box-shadow: 5px 7px 2px #888888;
}

.inventories-list ul ul li {
	margin: 5px 0 0 0;
}

.inventories-list .speculitive {
	color: rgb(145, 145, 145);
}

.inventories-list .ordered {
	color: rgb(63, 158, 161);
}

.inventories-list .shipped{
	color: rgb(31, 163, 83);
}

.inventories-list .warehouse {
	color: rgb(111, 74, 107);
}

.inventories-list .on-site {
	color: rgb(255, 244, 38);
}

.inventories-list .missing {
	color: red;
}

.logistics {
	width: 90%;
	clear: both;
	background-color: white;
}

.logistics .crew-divisions {
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 40px 10px;
	background-color: rgb(224, 210, 222);
	border-radius: 10px;
	box-shadow: 5px 7px 2px #888888;
}

.logistics .crew-divisions p {
	background-color: rgb(224, 210, 222);
}

.logistics ul ul ul{
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 40px 10px;
	background-color: rgb(250, 250, 250);
	border-radius: 10px;
}

.logistics a {
	border: 1px solid #96d1f8;
	border-radius: 5px;
	background-color: lightblue;
	margin: 32px 10px 0px 0px;
	color: white;
	padding: 4px;
	margin: 10px;
	font-size: 13px;
}

.logistics .logistics-header {
	font-size: 20px;
}


/* Button Styling */

.add-button {
	border: 1px solid #96d1f8;
	box-shadow: 0px 5px 5px #888888;
	border-radius: 5px;
	background-color: lightblue;
	margin: 32px 10px 0px 0px;
	color: white;
	clear: none;
	display: inline;
	width: inherit;
	float: right;
}

.edit-form {
	border: 1px solid #FF9100;
	box-shadow: 0px 5px 5px #888888;
	border-radius: 5px;
	background-color: #FF9B00;
	margin: 0px 0px 0px 0px;
	color: white;
	clear: both;
	display: inline;
	width: inherit;
	float: right;
}

.drop-form {
	border: 1px solid #96d1f8;
	box-shadow: 0px 5px 5px #888888;
	border-radius: 5px;
	background-color: lightblue;
	margin: 20px 10px 0px 0px;
	padding: 5px;
	color: white;
	clear: none;
	display: inline;
	/*width: inherit;*/
	float: right;
}

.drop-form input {
}

/* New Edit Update Forms */

.all-forms form {
    width: 80%;
    margin: 0 auto;
}

.all-forms label, input, textarea, select {
    /* in order to define widths */
    display: inline-block;
}

.all-forms label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

.all-forms label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line and margin-left to create a gutter between the label and input */
    margin: 1% 30% 0 4%;
}

.all-forms textarea {
	margin: 1% 30% 0 4%;
	height: 100px;
	width: 30%;
}

.form-dates {
	margin: 0 4% 0 0;
}

/* only the submit button is matched by this selector, but to be sure you could use an id or class for that button */
.multi-input {
	width: 90%;
	margin: 2% 0 0 22%;
}

.submit-button {
	display: inline-block;
	float: left;
	margin: 0 0 0 15px;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	background-color: white;
}

.submit-button.submit {
	background-color: rgb(195, 255, 195);
}

.submit-button.cancel {
	background-color: rgb(255, 250, 165);
}

.submit-button.delete {
	background-color: rgb(123, 123, 123);
	color: rgb(89, 12, 12);
}


@media all and (min-width: 320px) and (max-width: 600px) {

	h1 {
		font-size: 30px;
		margin: 3px 3px 12px 5px;
		left: 0;
		top: 0;
		width: 80%;
	}

	h2 {
		display: none;
	}

	.to-the-left, .to-the-right {
		width: 95%;
		margin-left: 0px;
	}

	.submit-button {
		width: 85px;
	}

	.all-forms form {
    width: 95%;
	}

	.all-forms label + input {
    width: 25%;
	}

}

/* Footer */
/*footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
	background-color: rgb(152, 119, 119);
	border-top: 2px solid black;
}*/






