/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
	margin: 2px;
}

h1 {
	font-size: 45px;
	font-family: Poiret One;
}

/* Divs for retrofit store catogories. */

.store-box {
	background-color: lightgrey;
	max-width: 49%;
	padding: 5px;
	margin: 0px 0px 5px 0px;
}

.store-box h4 {
	font-size: 22px;
	text-align: center;
}

.store-box ul {
	margin-left: -20px;
}

.store-box ul li {
	list-style: none;
}

.store-box ul li p {
	background-color: white;
}

.contact-box {
	margin: 0px 0px 20px 0px;
	padding: 10px;
	background-color: lightpink;
}


