// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Table of units */
.unit-pic img {
	width: 100px;
	height: 100px;
}



/* Unit Show Page */

.unit-detail {
	max-width: 90%;
	background-color: rgb(211, 250, 250);
	padding: 10px;
}

.unit-detail img {
	width: 100px;
	height: 100px;
}
