<h3>
	Job Site Page
</h3>

<div>
	<h4>
		<%= @site.client %>
		<%= @site.number %>
	</h4>
</div>

<div>
	<h4>
		Inventory
	</h4>
	<div>
		<% if @site.inventories.empty? %>
			<p>
				No Units in the Inventory
			</p>
		<% else %>
			<ul>
				<% @site.inventories.each do |i| %>
					<li>
						<%= @units.find(i.unit_id).nickname %>
					</li>
				<% end %>
			</ul>
		<% end %>

		<%= link_to "Add Units", new_site_inventory_path(:site_id => @site.id) %>
	</div>
</div>